<ion-header>
  <ion-navbar>
    <ion-title>
      Meus Heróis
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- Comentário -->
<ion-content padding>
  <!-- Criar varios items: ion-item*5 -->
    <ion-list>

      <!-- ngFor cria um ion-item para cada elemento do array de herois -->
      <ion-item 
        *ngFor="let heroi of herois" 
        (click)="selecionarHeroi(heroi)"
        [class.selecionado]="heroi == heroiSelecionado"
        >{{ heroi.nome }}</ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Rodapé</ion-title>
    <ion-buttons end>
      <button ion-button (click)="mostraArray()">Mostra</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>