<ion-header>
    <ion-navbar>
        <ion-title>{{ heroi.nome }} detalhes</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <heroi-detalhe-component [heroi]="heroi"></heroi-detalhe-component>
</ion-content>