<div>
    <ion-item>
        Id: {{ heroi.id }}
    </ion-item>
    <ion-item>
        <ion-label fixed>Nome</ion-label>
        <ion-input [(ngModel)]="heroi.nome"></ion-input>
    </ion-item>
</div>